.post-summary {
    width: 80%;
}

.post-summary__image {
    width: 100%;
    border-radius: 6px;
}

.post-summary__title {
    font-size: 1.5rem;
}

.post-summary__text {
    font-size: 1.4rem;
}

.post-summary__footer {
    display: flex;
    justify-content: space-between;
}

@media only screen and (min-width: 1280px) {
    .post-summary {
        width: 48rem;
        min-height: 50rem;
    }

    .post-summary__image {
        max-height: 28rem;
        border-radius: 6px;
    }
    
}