.post-container {
    width: 100%;
    display: flex;
    align-items: center;
    padding-top: 4rem;
    flex-direction: column;
}

.post-container__header {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}

.post-container__title {
    font-size: 1.8rem;
}

.post-container__list {
    display: flex;
    align-items: center;
    gap: 5rem;
    flex-direction: column;
    margin-bottom: 5rem;
}